@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body {
    background-color: #292C34;
    text-align: center;
}


/* Header */

header {
    height: 90px;
    background-color: white;
}

header>h1 {
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
}


/* Botões */

.buttons {
    padding: auto;
    margin: auto;
}


/* inputs text */

input {
    background-color: rgba(0, 0, 0, 0.671) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
}


/* botões */

.buttonWrap {
    padding-top: 20px;
}

.enterButton {
    padding: 0 30px;
    border-radius: 100px;
    color: #ffffff;
    font-family: arial;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    text-transform: none;
    background-color: #31b43a;
    border: none;
    cursor: pointer;
}

.enterButton:focus {
    outline: none;
}